<ion-content [fullscreen]="true" color="primary">





  <div class="card-toolbar-partner" color="secondary">
    <div class="card-toolbar-partner-title">Предложения от партнеров</div>

    <div class="card-toolbar-partner-right">
    <ion-buttons slot="primary">
      <ion-button fill="solid" shape="round" color="dark">
        <p>Сначала новые</p>
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>
      <ion-button fill="solid" shape="round" color="dark">
        <p>Категория</p>
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>
      <ion-button fill="solid" shape="round" color="dark">
        <p>Партнер</p>
        <ion-icon name="caret-down-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  </div>




  <div class="ion-card-container1">

  
  <ion-card color="secondary">

    <div class="ion-card-top-icons">
      <ion-button size="small" color="light" id="popover-button"><ion-icon slot="icon-only" ios="logo-apple" md="create-outline"></ion-icon></ion-button>
      <ion-popover trigger="popover-button" [dismissOnSelect]="true">
        <ng-template>
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false" (click)="editOpen(true)">Редактировать</ion-item>
              <ion-item [button]="true" [detail]="false" (click)="alertOpen(true)">Удалить</ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>


      <!-- Окно. Редактирование -->
<ion-modal 
[isOpen]="isModalOpen"
(didDismiss)="editOpen(false)"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Редактирование</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="editOpen(false)">Отменить</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="modal_edit">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="modal_edit_img"><img src="./assets/img/stul.jpg" /></div>
              <div><ion-button size="small">Загрузить изображение</ion-button></div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="modal_edit_h2">Заголовок</div>
              <ion-input label="Кресло офисное Бюрократ CH-808LT черный 3C11" label-placement="floating" fill="solid" placeholder="Заголовок"></ion-input>
              <div class="modal_edit_h2">Описание</div>
              <ion-textarea label="Компьютерное кресло руководителя Бюрократ CH-808LT представляет собой удобное и практичное кресло, которое позволяет выдерживать нагрузку до 120 кг." labelPlacement="floating" fill="solid" placeholder="Описание"></ion-textarea>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button>Сохранить</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Окно предупреждение. Удаление -->
<ion-alert
[isOpen]="isAlertOpen"
header="Вы точно хотите удалить карточку?"
[buttons]="alertButtons2"
(didDismiss)="alertOpen(false)"
></ion-alert>


    

    </div>

    <div class="card-img"><img src="./assets/img/stul.jpg" /></div>
    <ion-card-header>  
      <ion-card-title>Кресло офисное Бюрократ CH-808LT черный 3C11</ion-card-title>
      <ion-card-subtitle>ЯндексМаркет</ion-card-subtitle>  
      </ion-card-header>
    <ion-card-content>
      <ion-text>
          <div>
          Компьютерное кресло руководителя Бюрократ CH-808LT представляет собой удобное и практичное кресло, которое позволяет выдерживать нагрузку до 120 кг.
          </div>
          <div class="ion-card-price"><span style="font-size: 14px; text-decoration: line-through">8000р.</span><span>8000р.</span></div>
      </ion-text>
      <div class="ion-card-footer">
        <div class="ion-card-footer-date">12.04.24</div>
        <ion-button fill="clear" shape="round" color="light" class="ion-card-footer-more">Подробнее</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <div class="card-img"><img src="./assets/img/stul.jpg" /></div>
    <ion-card-header>  
      <ion-card-title>Кресло офисное Бюрократ CH-808LT черный 3C11</ion-card-title>
      <ion-card-subtitle>ЯндексМаркет</ion-card-subtitle>  
      </ion-card-header>
    <ion-card-content>
      <ion-text>
          <div>
          Компьютерное кресло руководителя Бюрократ CH-808LT представляет собой удобное и практичное кресло, которое позволяет выдерживать нагрузку до 120 кг.
          </div>
          <div class="ion-card-price"><span style="font-size: 14px; text-decoration: line-through">8000р.</span><span>8000р.</span></div>
      </ion-text>
      <div class="ion-card-footer">
        <div class="ion-card-footer-date">12.04.24</div>
        <ion-button fill="clear" shape="round" color="light" class="ion-card-footer-more">Подробнее</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <div class="card-img"><img src="./assets/img/stul.jpg" /></div>
    <ion-card-header>  
      <ion-card-title>Кресло офисное Бюрократ CH-808LT черный 3C11</ion-card-title>
      <ion-card-subtitle>ЯндексМаркет</ion-card-subtitle>  
      </ion-card-header>
    <ion-card-content>
      <ion-text>
          <div>
          Компьютерное кресло руководителя Бюрократ CH-808LT представляет собой удобное и практичное кресло, которое позволяет выдерживать нагрузку до 120 кг.
          </div>
          <div class="ion-card-price"><span style="font-size: 14px; text-decoration: line-through">8000р.</span><span>8000р.</span></div>
      </ion-text>
      <div class="ion-card-footer">
        <div class="ion-card-footer-date">12.04.24</div>
        <ion-button fill="clear" shape="round" color="light" class="ion-card-footer-more">Подробнее</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <div class="card-img"><img src="./assets/img/stul.jpg" /></div>
    <ion-card-header>  
      <ion-card-title>Кресло офисное Бюрократ CH-808LT черный 3C11</ion-card-title>
      <ion-card-subtitle>ЯндексМаркет</ion-card-subtitle>  
      </ion-card-header>
    <ion-card-content>
      <ion-text>
          <div>
          Компьютерное кресло руководителя Бюрократ CH-808LT представляет собой удобное и практичное кресло, которое позволяет выдерживать нагрузку до 120 кг.
          </div>
          <div class="ion-card-price"><span style="font-size: 14px; text-decoration: line-through">8000р.</span><span>8000р.</span></div>
      </ion-text>
      <div class="ion-card-footer">
        <div class="ion-card-footer-date">12.04.24</div>
        <ion-button fill="clear" shape="round" color="light" class="ion-card-footer-more">Подробнее</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <div class="card-img"><img src="./assets/img/stul.jpg" /></div>
    <ion-card-header>  
      <ion-card-title>Кресло офисное Бюрократ CH-808LT черный 3C11</ion-card-title>
      <ion-card-subtitle>ЯндексМаркет</ion-card-subtitle>  
      </ion-card-header>
    <ion-card-content>
      <ion-text>
          <div>
          Компьютерное кресло руководителя Бюрократ CH-808LT представляет собой удобное и практичное кресло, которое позволяет выдерживать нагрузку до 120 кг.
          </div>
          <div class="ion-card-price"><span style="font-size: 14px; text-decoration: line-through">8000р.</span><span>8000р.</span></div>
      </ion-text>
      <div class="ion-card-footer">
        <div class="ion-card-footer-date">12.04.24</div>
        <ion-button fill="clear" shape="round" color="light" class="ion-card-footer-more">Подробнее</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <div class="card-img"><img src="./assets/img/stul.jpg" /></div>
    <ion-card-header>  
      <ion-card-title>Кресло офисное Бюрократ CH-808LT черный 3C11</ion-card-title>
      <ion-card-subtitle>ЯндексМаркет</ion-card-subtitle>  
      </ion-card-header>
    <ion-card-content>
      <ion-text>
          <div>
          Компьютерное кресло руководителя Бюрократ CH-808LT представляет собой удобное и практичное кресло, которое позволяет выдерживать нагрузку до 120 кг.
          </div>
          <div class="ion-card-price"><span style="font-size: 14px; text-decoration: line-through">8000р.</span><span>8000р.</span></div>
      </ion-text>
      <div class="ion-card-footer">
        <div class="ion-card-footer-date">12.04.24</div>
        <ion-button fill="clear" shape="round" color="light" class="ion-card-footer-more">Подробнее</ion-button>
      </div>
    </ion-card-content>
  </ion-card>

</div>



</ion-content>